<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/angular.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<form ng-controller="loginController">
    <div>
    <input type="text" class="form-control" ng-model="username" placeholder="Username" width="10%" />
    </div>
    <div>
    <input type="text" class="form-control" ng-model="password" placeholder="Password" width="10%" >
    </div>
    <button class="btn btn-danger" type="button" ng-click="onclick()">登录</button>
</form>
<div ng-inti="$state= go()">
    <div ui-view>
    </div>
</div>


 <script>
     var app=angular.module('myapp',[]);
     app.controller('loginController',function ($scope,$http) {
             $scope.onclick= function(){
                 var username=$scope.username;
                 var password=$scope.password;
                 var jsondata={username:username,password:password};
                 $http.post('/user/login',JSON.stringify(jsondata)).success(function (data) {
                alert("success!");
            });
     }
     });
 </script>

</body>
</html>