<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.lostandfound.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nineteen.lostfound.dao.harmony.mapper.UserMapper">
  <select id="selectUser" parameterType="com.nineteen.lostfound.dao.harmony.entity.User" resultType="com.nineteen.lostfound.dao.harmony.entity.User">
      select * from user where userid=#{userid}
  </select>
</mapper>